*.vagrant
vagrant/
.vagrant/
Vagrantfile

public/.idea/copyright/profiles_settings.xml

public/.idea/modules.xml

public/.idea/public.iml

public/.idea/workspace.xml

public/.idea/vcs.xml

.vagrant/machines/default/virtualbox/action_provision

.vagrant/machines/default/virtualbox/action_provision

.vagrant/machines/default/virtualbox/action_provision

.vagrant/machines/default/virtualbox/action_provision

.vagrant/machines/default/virtualbox/action_provision

.vagrant/machines/default/virtualbox/action_provision

.vagrant/machines/default/virtualbox/action_set_name

.vagrant/machines/default/virtualbox/id

.vagrant/machines/default/virtualbox/index_uuid

.vagrant/machines/default/virtualbox/index_uuid

.vagrant/machines/default/virtualbox/private_key
